﻿@model projetoHerlon.Web.Models.ModelCriarConta
@{
    Layout = "";
}

<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cadastrar Usuario</title>

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Content/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-md-12 card o-hidden border-0 shadow-lg my-5">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Crie uma conta!</h1>
                                    </div>
                                    @using (Html.BeginForm())
                                    {
                                        <form class="user">
                                            <div class="form-group row">
                                                <div class="col-sm-6 mb-3 mb-sm-0">
                                                    @Html.TextBoxFor(model => model.Nome, new { @class = "form-control form-control-user", @id = "exampleFirstName", placeholder = "Nome" })
                                                </div>
                                                <div class="col-sm-6">
                                                    @Html.TextBoxFor(model => model.Sobrenome, new { @class = "form-control form-control-user", @id = "exampleLastName", placeholder = "Sobrenome" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.TextBoxFor(model => model.Email, new { @type = "email", @class = "form-control form-control-user", @id = "exampleInputEmail", placeholder = "Email" })
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-sm-6 mb-3 mb-sm-0">
                                                    @Html.TextBoxFor(model => model.Senha, new { @type = "password", @class = "form-control form-control-user", @id = "exampleInputPassword", placeholder = "Senha" })
                                                </div>
                                                <div class="col-sm-6">
                                                    @Html.TextBoxFor(model => model.Senha, new { @type = "password", @class = "form-control form-control-user", @id = "exampleRepeatPassword", placeholder = "Senha" })
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-primary btn-user btn-block" value="Salvar conta" id="btnSalvarConta" name="btnSalvarConta">Salvar conta</button>
                                            <hr>
                                        </form>
                                    }
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>



    <!-- Bootstrap core JavaScript-->
    <script src="~/Scripts/jquery.min.js"></script>
    @*<script src="~/Scripts/bootstrap.bundle.min.js"></script>*@

    <!-- Core plugin JavaScript-->
    <script src="~/Scripts/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Scripts/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    @*<script src="~/Scripts/Chart.min.js"></script>*@

    <!-- Page level custom scripts -->
    <script src="~/Scripts/chart-area-demo.js"></script>
    <script src="~/Scripts/chart-pie-demo.js"></script>

    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")


</body>

</html>